
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-family: inherit;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #68A2CA;
}

.button:focus {
  background-color: #68A2CA;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

.button:disabled:hover {
  background-color: #E5E5E5;
  outline: none;
  cursor: default;
}

.container {
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* navigation */
.navigation {
  display: grid;
  grid-template-columns: 138px 1fr 370px;
  align-items: center;
  width: 1060px;
  column-gap: 30px;
  margin: 0 auto;
}

.navigation-logo img {
  display: block;
  margin-bottom: -6px;
}

.navigation-logo:focus-visible {
  outline: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.navigation-item {
  display: flex;
  position: relative;
}

.navigation-link {
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756157;
  content: "";
}

.navigation-link:hover,
.menu-link:hover {
  color: #756157;
}

.navigation-link:focus,
.menu-link:focus {
  outline-color: #68A2CA;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.menu-link {
  display: flex;
  padding: 22px 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  list-style: none;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-link .menu-list {
  min-width: 20px;
  min-height: 20px;
}

.menu-favourites {
  position: relative;
  top: -11px;
  right: 12px;
  font-size: 10px;
  line-height: 10px;
  min-width: 12px;
}

.menu-list .menu-favourites::before {
  position: relative;
  min-width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  content: "12";
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-login-button {
  display: block;
  background-color: #756157;
  margin-right: 0;
  padding: 8px 34px;
}

.menu-item img {
  display: block;
}

.menu-item-button {
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-login-button:hover {
  background-color: #615048;
}

.menu-login-button:focus {
  background-color: #615048;
}

.menu-login-button:active {
  background-color: #756157;
}

/* main */
.main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: url("../images/mountain-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #333333;
  padding-top: 51px;
}

.hero-logo-welcome {
  display: block;
  margin: 0 auto;
}

.hero-diadonals {
  display: block;
  background-image: url("../images/diagonals.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 82px;
}

/*advantages*/
.advantages {
  margin: 0;
  padding-top: 69px;
}

.advantages-main-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-main-description {
  margin: 0;
  margin-bottom: 90px;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  letter-spacing: 0.05em;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-blue {
  display: flex;
  width: 100%;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-town-container {
  display: flex;
  flex-direction: column;
  padding-top: 92px;
  padding-bottom: 111px;
  width: 400px;
}

.advantages-town-container::before {
  order: 2;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  content: "";
  width: 60px;
  align-self: center;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  flex-grow: 1;
  order: 3;
  margin-bottom: 0;
  margin-top: 10px;
  padding-top: 20px;
  color: #333333;
}

.advantages-town-container .advantages-description {
  color: #FFFFFF;
}

.advantages-item-image {
  height: auto;
  object-fit: cover;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding-top: 103px;
  padding-bottom: 121px;
}

.advantages-item::before {
  flex-grow: 1;
  order: 2;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  content: "";
  width: 60px;
  align-self: center;
}

.advantages-bridge {
  flex-direction: row-reverse;
}

.advantages-lightblue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-paleblue {
  background-color: rgba(131, 179, 211, 0.12);
}

/*service*/
.service-list {
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 81px;
  align-items: center;
}

.service-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.service-description {
  margin-bottom: 0;
  margin-top: 10px;
  color: #333333;
}

.service-icon {
  order: -1;
  margin-bottom: 30px;
}

/*search*/
.search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-date {
  margin-top: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-button {
  display: block;
  margin: 0 auto;
  width: 276px;
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  padding: 8px 50px;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:focus {
  background-color: #615048;
}

/*newsletter*/
.newsletter {
  background-image: url("../images/bridge.jpg");
  color: #FFFFFF;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-bottom: 104px;
}

.newsletter-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0;
  margin-top: 10px;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  margin-top: 54px;
}

.newsletter-form input:placeholder-shown {
  outline-color: #68A2CA;
}

.newsletter-field {
  margin: 0;
  width: 412px;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border: none;
  font-family: inherit;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
}

.newsletter-field:focus {
  outline-color: #68A2CA;
}

.newsletter-button {
  width: 232px;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

/*page-footer*/
.page-footer {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  padding: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
  list-style-type: none;
}

.footer-social {
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 144px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.footer-social-link {
  color: #82B3D3;
}

.footer-social-link:hover {
  color: #68A2CA;
}

.footer-social-link:focus {
  color: #68A2CA;
  outline-color: #68A2CA;
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3)
}

.footer-social-item {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 40px;
}

.footer-social a {
  background: none;
}

.footer-social-icon {
  padding: 13px 12px;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
  width: 331px;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
}

.footer-contacts a {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration-line: none;
}

.logo-htmlacademy {
  color: #000000;
}

.contacts:hover,
.logo-htmlacademy:hover {
  color: #756157;
}

.contacts:focus,
.logo-htmlacademy:focus {
  color: #756157;
  outline-color: #68A2CA;
}

.contacts:active,
.logo-htmlacademy:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-htmlacademy {
  padding: 9px 0;
  width: 115px;
}

.htmlacademy-link:focus-visible {
  outline-color: #68A2CA;
 }

/*catalog*/
.main-sorting-catalog {
  padding: 70px;
  padding-top: 35px;
  background-image: url("../images/sorting-background.jpg");
  background-color: #F2F2F2;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.inner-header {
  margin-bottom: 40px;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  background-position: center left;
  align-items: center;
  width: 600px;
}

.breadcrumbs-item:not(:first-child) {
  background-image: url("../images/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 10px;
}

.breadcrumbs-link {
  font-size: 16px;
  color: inherit;
  text-decoration: none;
  margin-right: 13px;
  margin-left: 10px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #FFFFFF;
  outline-color: #68A2CA;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-service {
  width: 1060px;
}

.catalog-filter {
  display: grid;
  grid-template-columns: 150px 150px 358px 192px;
  row-gap: 16px;
  column-gap: 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
}

.catalog-filter-item {
  line-height: 24px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-range {
  margin-left: 70px;
}

/*control*/
.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input:disabled + .control-mark {
  outline: #FFFFFF;
}

.control:hover .control-label {
  color: rgba(255, 255, 255, 0.3);
}

.control:active .control-label {
  color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  background-image: url("../images/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: #3F5E72;
  top: 6px;
  left: 4px;
  width: 13px;
  height: 10px;
  content: "";
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

/* Range */
.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
}

.range-input {
  width: 103px;
  color: #000000;
  appearance: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  font-family: inherit;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
}

.range-input-right {
  margin-left: 3px;
  border-radius: 0 4px 4px 0;
}

.catalog-filter-label .range-min-price,
.catalog-filter-label .range-max-price {
  position: relative;
  top: -36px;
  right: -106px;
  line-height: 24px;
  color: rgb(133, 133, 133);
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:hover {
  background-color: #E6E6E6;
}

.range-input:focus {
  outline: 3px solid #83B3D3;
  background-color: #E6E6E6;
}

.range-input:active {
  outline: 2px solid #000000;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 21px;
  background-color: rgb(133, 133, 133);
}

.range-bar {
  position: relative;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: -8px;
}

.toggle-max {
  top: -8px;
  right: -8px;
}

.catalog-button {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.catalog-button-submit {
  width: 191px;
  padding: 8px 50px;
  margin-bottom: 32px;
}

.catalog-button-reset {
  width: 191px;
  background: none;
  border: none;
  padding: 8px 50px;
}

.catalog-button-reset:hover {
  color: rgba(255, 255, 255, 0.3);
  background: none;
}

.catalog-button-reset:focus {
  outline: 3px solid #83B3D3;
  background: none;
}

.catalog-button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-button-reset:disabled {
  color: rgba(0, 0, 0, 0.3);
}

/*select-hotels*/
.select-hotels {
  display: flex;
  flex-direction: column;
  width: 1060px;
  padding: 70px;
  padding-top: 50px;
  padding-bottom: 60px;
}

.select-hotels::before {
  order: 1;
  border-bottom: 1px solid #E6E6E6;
  content: "";
}

.select-hotels-sorting {
  display: flex;
  margin: 0;
  margin-bottom: 38px;
  justify-content: space-between;
}

.select-hotels-found {
  margin: 0;
  padding: 7px 0;
  margin-right: 200px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  box-shadow: none;
  width: 292px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  padding: 12px 18px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  cursor: pointer;
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus {
  border-color: #68A2CA;
  outline: none;
}

.select-control:active {
  border-color: #3F5E72;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
}

.sorting-buttons {
  display: flex;
  flex-wrap: wrap;
  max-width: 160px;
  margin-left: 70px;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 8px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.card-grid-toggle:nth-child(3n) {
  margin-right: 0;
}

.card-grid-toggle:hover {
  border-color: #000000;
}

.card-grid-toggle:focus {
  border-color: #68A2CA;
  outline: none;
}

.card-grid-toggle:active {
  border-color: #000000;
}

.card-grid-toggle-current {
  border-color: #000000;
}

/*hotel-card*/
.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
  margin-bottom: 40px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  flex-grow: 1;
}

.hotel-card-link:focus {
  outline-color: #68A2CA;
}

.hotel-card-image {
  order: -1;
  display: block;
}

.hotel-card-title {
  margin-bottom: 16px;
  margin-top: 16px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-card-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 20px;
}

.hotel-name {
  color: #333333;
}

.hotel-card-price {
  color: #333333;
  text-align: end;
}

.hotel-card-button {
  background-color: #756157;
  padding: 8px 26px;
}

.hotel-card-button:hover {
  background-color: #615048;
}

.hotel-card-button:focus {
  background-color: #615048;
}

.hotel-card-button:active {
  background-color: #756157;
}

.hotel-button-favourites {
  padding: 8px 20px;
}

.hotel-button-green {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.hotel-button-green:hover {
  background-color: #6C9E42;
}

.hotel-button-green:focus {
  background-color: #6C9E42;
}

.hotel-button-green:active {
  background-color: #7DB54F;
}

.rating-star {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 72px;
  max-height: 16px;
  background-image: url("../images/star.svg");
  word-spacing: 5em;
}

.rating-star-three {
  width: 54px;
}

.rating-star-two {
  width: 36px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  text-align: center;
  border-radius: 4px;
  padding: 8px 22px;
}

/*pagination*/
.pagination {
  display: flex;
  margin-top: 40px;
  order: 2;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  padding: 12px 12px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-next {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-page-mailing {
  background-image: none;
  background-color: #FFFFFF;
  color: #000000;
}

.newsletter-grey-text {
  color: #333333;
}
