
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0 auto;
  color: #000000;
  background-color: #FFFFFF;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background: #82B3D3;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

/* Pages */
.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.menu-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  list-style: none;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.login-button {
  width: 160px;
  height: 36px;
  color: #FFFFFF;
  background: #756157;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
}

/* main */
.main-index {
  text-align: center;
}

.hero {
  background-image: url("../images/mountain-background.jpg");
  background-color: #333333;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.advantages-main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.advantages-main-description {
  font-size: 20px;
  line-height: 26px;
  color: #333333;
}
.advantages-item {
  color: #333333;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.advantages-item-image {
  display: block;
}

.blue-fone {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.lightblue-fone {
  background-color: rgba(131, 179, 211, 0.2);
}

.paleblue-fone {
  background-color: rgba(131, 179, 211, 0.12);
}
/*service*/
.service-item {
  display: inline-block;
  width: 33%;
  height: 384px;
}

.service-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.service-description {
  color: #333333;
}

/*search*/
.search {
  height: 406px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-date {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.button-all {
  width: 376px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  background: #756157;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
}
/*newsletter*/
.newsletter {
  height: 415px;
  background-image: url("../images/bridge.jpg");
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.2);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
}

.field {
  width: 452px;
  height: 52px;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border: none;
  font-family: inherit;
  border-radius: 4px;
  padding: 12px 20px;
}

.newsletter-button {
  width: 232px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
}

.footer-social a {
  color: #83B3D3;
  background: none;
}

.footer-contacts a {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration-line: none;
}

/*catalog*/
.main-sorting-catalog {
  background-image: url("../images/sorting-background.jpg");
  background-color: #F2F2F2;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item {
  line-height: 23px;
}

.catalog-button-submit {
  width: 191px;
  height: 36px;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
}

.catalog-button-reset {
  background: none;
  border: none;
}

/*select-hotels*/
.select-hotels-found {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/*hotel-card*/
.clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-card {
  display: inline-block;
  width: 33%;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-name {
  color: #333333;
}

.hotel-card-price {
  color: #333333;
}

.hotel-card-button {
  background: #756157;
}

.button-green {
  background: #7DB54F;
}

.rating-star {
  width: 72px;
  height: 17px;
  background-image: url("../images/star.svg");
  background-size: 18px 17px;
  background-repeat: repeat-x;
}

.rating-star-three {
  width: 54px;
}

.rating-star-two {
  width: 36px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
}

/*pagination*/
.pagination-item {
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-link-next {
  color: #000000;
  text-decoration: none;
}

.newsletter {
  text-align: center;
}

.newsletter-title {

}

.newsletter-description {

}
