
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  color: #000000;
  background-color: #F2F2F2;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* пока придержу чтобы луче ориентироваться
.visually-hidden {
  display: none;
}*/

/* Pages */
.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  list-style: none;
}

.menu-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  /*list-style: none;*/
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.login-button {
  width: 160px;
  height: 36px;
  color: #FFFFFF;
  background: #756157;
  border: none;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
}
.main-index {
  text-align: center;
  background-color: #FFFFFF;
}

.hero {
  background-image: url("../images/mountain-background.jpg");
  background-color: #F2F2F2;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.advantages-main-description {
  font-size: 20px;
  line-height: 26px;
  color: #333333;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 0;
  /*border-bottom: 60px 2px solid rgba(0, 0, 0, 0.3);*/
}

/*  здесь нужно проработать преимущества и сервис*/
.advantages-item-image {
  display: block;
}

.blue-fone {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.lightblue-fone {
  background-color: rgba(131, 179, 211, 0.2);
}

.paleblue-fone {
  background-color: rgba(131, 179, 211, 0.12);
}
/*service*/
.service-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.service-description {
  color: #333333;
}

/*.service-icon-house {
  background-image: url("../images/house.svg");
}*/

/*search*/
.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-date {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.button-all {
  width: 376px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background: #756157;
  border: none;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
}
/*newsletter*/
.newsletter {
  background-image: url("../images/bridge.jpg");
  background-color: #F2F2F2;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.field {
  width: 452px;
  height: 52px;
  font-size: 18px;
  line-height: 24px;
  color: #F2F2F2;
  border: none;
  font-family: inherit;
  border-radius: 4px;
  padding: 12px 20px 12px 20px;
}

.newsletter-button {
  width: 232px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background: #82B3D3;
  border: none;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
}
.page-footer {
  background-position: center;
  background-color: #FFFFFF;
}

.footer-social a {
  list-style-type: none;
  color: #83B3D3;
  background-color: #FFFFFF;
}

.footer-contacts a {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration-line: none;
}

/*catalog*/
.main-inner {
  background-color: #FFFFFF;
}

.main-sorting-catalog {
  background-image: url("../images/sorting-background.jpg");
  background-color: #F2F2F2;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  list-style: none;
}

.catalog-filter-item {
  line-height: 23px;
}

.select-hotels-found {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.select-control {
  font-family: inherit;
}

.catalog-button {
  width: 191px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border: none;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
}

.catalog-button-reset {
  width: 191px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
}

/*hotel-card*/
.hotel-card {
  border: 1px #E6E6E6;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.hotel-name {
  color: #333333;
}

.hotel-card-price {
  font-weight: 400;
  color: #333333;
}

.hotel-card-button {
  width: 140px;
  height: 36px;
  background: #756157;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
}

.button-basket {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  background: #82B3D3;

}

.button-basket-pressed {
  background: #7DB54F;
}

.rating-star {
  width: 140px;
  height: 37px;
  background-image: url("../images/star.svg");
  background-size: 18px 17px;
  background-repeat: no-repeat;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

.button-pressed {
  background-color: #7DB54F;
}

.pagination {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
